<h1>Listing side_dishes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @side_dishes.each do |side_dish| %>
  <tr>
    <td><%= side_dish.name %></td>
    <td><%= link_to 'Show', side_dish %></td>
    <td><%= link_to 'Edit', edit_side_dish_path(side_dish) %></td>
    <td><%= link_to 'Destroy', side_dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Side dish', new_side_dish_path %>
