<center><h1 class="navbar-bottom-box">FAQ's</h1></center>

<div class="questions">
  <div class="tableofcontents">
  <br />
  <br />
  <br />
  <br />
  <br />
  <li><%= link_to "Question 1", faq_path + "#firstq"%></li>
  <li><%= link_to "Question 2", faq_path + "#secondq"%></li>
  <li><%= link_to "Question 3", faq_path + "#thirdq"%></li>
  <li><%= link_to "Question 4", faq_path + "#fourthq"%></li>
  <li><%= link_to "Question 5", faq_path + "#fifthq"%></li>
  <li><%= link_to "Question 6", faq_path + "#sixthq"%></li>
  <li><%= link_to "Question 7", faq_path + "#seventhq"%></li>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />

  <h3><%= link_to "Question 1", "#firstq" %></h3>
  <br />
  <h3><%= link_to "Question 2", "#secondq" %></h3>
  <br />
  <h3><%= link_to "Question 3", "#thirdq" %></h3>
  <br />
  <h3><%= link_to "Question 4", "#fourthq" %></h3>
  <br />
  <h3><%= link_to "Question 5", "#fifthq" %></h3>
  <br />
  <h3><%= link_to "Question 6", "#sixthq" %></h3>
  <br />
  <h3><%= link_to "Question 7", "#seventhq" %></h3>
  <br />
  <br />
  <br />

</div>
