<h1>FAQ's</h1>

<div class="questions">
  <div class="tableofcontents">
  <li><%= link_to "Question 1", static_faq_path + "#firstq"%></li>
  <li><%= link_to "Question 2", static_faq_path + "#secondq"%></li>
  <li><%= link_to "Question 3", static_faq_path + "#thirdq"%></li>
  <li><%= link_to "Question 4", static_faq_path + "#fourthq"%></li>
  <li><%= link_to "Question 5", static_faq_path + "#fifthq"%></li>
  <li><%= link_to "Question 6", static_faq_path + "#sixthq"%></li>
  <li><%= link_to "Question 7", static_faq_path + "#seventhq"%></li>
  </div>
  <br />


  <h3><%= link_to "Question 1", "#firstq" %></h3>
  <br />
  <h3><%= link_to "Question 2", "#secondq" %></h3>
  <br />
  <h3><%= link_to "Question 3", "#thirdq" %></h3>
  <br />
  <h3><%= link_to "Question 4", "#fourthq" %></h3>
  <br />
  <h3><%= link_to "Question 5", "#fifthq" %></h3>
  <br />
  <h3><%= link_to "Question 6", "#sixthq" %></h3>
  <br />
  <h3><%= link_to "Question 7", "#seventhq" %></h3>

</div>



