<center><h1>What are you hungry for?</h1></center>
</br>
<div id="order_status_div">
  <%= render :partial => "orders/order_status"%>
</div>
<% @restaurants.each do |restaurant| %>
  <div class="flag">
    </br>
    <%= render partial: 'menu_carousel', locals: {restaurant: restaurant} %>
    </br>
      <% restaurant.dishes.each_slice(3) do |slice| %>
        <div class="row">
          <% slice.each do |dish| %>
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
      <%# picture size for this section should be 320/150 %>
                <%= dish.image%>
                <div class="caption">
                  <h4 class="pull-right"><%= dish.price %></h4>
                  <h4><a href data-toggle="modal" data-target="#<%= dish.id %>"><%= dish.plate %></a></h4>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
              </div>
            </div>
            <div 
            <%= render partial: 'menu_popup', locals: {dish: dish} %>
            
          <% end %>

      </div>           
      <% end %>
  </div>
<% end %>