<p id="notice"><%= notice %></p>

<p>
  <b>Plate:</b>
  <%= @dish.plate %>
</p>

<p>
  <b>Price:</b>
  <%= @dish.price %>
</p>

<p>
  <b>Side dish:</b>
  <%= @dish.side_dish %>
</p>

<p>
  <b>Ingredient:</b>
  <%= @dish.ingredient %>
</p>


<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
