<div class="nested-fields well well-md">
  <%= simple_form_for @restaurant do |f| %>

    <div class ="row">
      <div class="col-xs-4"><%= f.input :name, label: "Restaurant Name" %></div>
    </div>


    <div class ="row">
      <div class ="col-xs-4"><%= f.input :cuisine_id, label: "Cuisine Type", collection: @cuisines %></div>
    </div>



    <h3> Dishes </h3>
    
    <%= f.simple_fields_for :dishes do |dish| %>
      <%=  render 'dish_fields', f: dish %>
    <% end %>

    <div class='links'>
      <%= link_to_add_association 'Add Dish', f, :dishes, class: "btn btn-success" %>
    </div>
<br/>
    <%= f.submit 'Create Restaurant', class: 'btn btn-primary' %>
  <% end %>
</div>