<div class="nested-fields well well-lg">
  <div class="row">
    <div class="col-xs-2"><%=f.input :name, label: "Side Dish Name" %></div>
    <div class="col-xs-4"><%=link_to_remove_association "remove side dish", f %></div>
  </div>
    <%= f.simple_fields_for :side_ingredients do |side_ingredient| %>
      <%=  render 'side_ingredient_fields', f: side_ingredient %>
    <% end %>
  <div class="link">
    <%= link_to_add_association 'add side ingredient', f, :side_ingredients %>  
  </div>
</div>