<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">LunchLord<i class="glyphicon glyphicon-tower"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><%= link_to "Menu", static_menu_path %></li>
        <%# if current_user.try(:is_admin?)%>
        <% if current_user %>
        
         <% if current_user.has_any_role? :admin, :salesman %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage<b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><%= link_to "Add Restaurant", new_restaurant_path %></li>
            <li><%= link_to "All Restaurants", restaurants_path %></li>
            <li><%= link_to "Add Company", new_company_path %></li>
            </ul>
          </li>
         <% end %>
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><%= link_to edit_user_registration_path(current_user) do %>
          <%= current_user.email %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
        </li>
        
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


      