<nav class="navbar navbar-bottom navbar-static-bottom" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-sm-1">
      <br/>

      <a class="navbar-brand hidden-xs hidden-sm" href="/">LunchLord</i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-sm-3">
      <ul class="nav nav-stacked">
        <a class="hidden-md hidden-lg" href="/">LunchLord</i></a>
        <br/>
        <br/>
        <li><h3><%= link_to 'How It Works', how_it_works_path %>
        </h3></li>
        <br/>
          <li>&nbsp;&nbsp;&nbsp;<%= link_to "The Process", process_path %>
          </li>
          <li>&nbsp;&nbsp;&nbsp;<%= link_to "FAQ's", faq_path %></li>
        </ul>
      </ul>
    </div>

    <div class="col-sm-3">
      <ul class="nav nav-stacked">
        <br/>
        <br/>
        <li><h3><%= link_to "About Us", nav_about_us_path %></h3></li>
        <br/>
          <li>&nbsp;&nbsp;&nbsp;<%= link_to 'Team', team_path %></li>
          <li>&nbsp;&nbsp;&nbsp;<%= link_to 'Participating Businesses', participating_businesses_path %></li>
          <!--<li>&nbsp;&nbsp;&nbsp;<%#= link_to 'Investors', investors_path %></li>-->
        </ul>
      </ul>
    </div>


    <div class="col-sm-3">
      <ul class="nav nav-stacked">
        <br/>
        <br/>
        <li><h3><%= link_to "Connect with Us", contact_us_path %></h3></li>
        <br/>
        <br/>
          <li><strong class="fa fa-envelope">&nbsp;&nbsp;&nbsp;<%= link_to "Email", contact_us_path + "#email"%></strong></li><br/>
          <li><i class="fa fa-facebook-square">&nbsp;&nbsp;&nbsp;<%= link_to "Facebook", contact_us_path + "#facebook" %></i></li><br/>
          <li><i class="fa fa-twitter-square">&nbsp;&nbsp;&nbsp;<%= link_to "Twitter", contact_us_path + "#twitter"%></i></li>
        </ul>
      </ul>
    </div>

    </div><!-- /.navbar-collapse -->
    <br/>
      <center>
        <p class="copyright"><a href="http://www.bootply.com">mjm productions </a> &nbsp; | &nbsp; ©Copyright <%= Time.now.year %> LunchLord.</p>
      </center>
  </div><!-- /.container-fluid -->
</nav>